* {
    font-family: 'Courier New';
}

main h1, h2, h3 { 
    font-family:'Gill Sans'; 
}

.saira-stencil-cool_font {
    font-family: "Saira Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    text-align: center;
}

#page-background {
    background: hsl(214, 99%, 69%);
}

.break {
    border: none;
    border-top: 0.5vh solid rgb(0, 255, 17);
}

:root{
    --brand: hsl(214, 99%, 69%);
}

#audio {
    background-color: var(--brand, color(display-p3 0 1 0));
}


.button-container {
    display: block;
    padding: 0.5rem;
}

button {
    border-color: gold;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
}


@media (hover: hover) {
  button:hover {
    color: rgb(216, 185, 12);
    background: black;
  }
}

button:active{
    font-weight: bold;
    box-shadow: 3px;
}

.media {
    display: inline-block;
    margin: 10mm;
    margin-bottom: 0.5cm;
}

.field-select {
    width: fit-content;    
    height: fit-content;
    padding: 10px;
}

#story {
    max-width: 300px;
    min-width: 150px;
    max-height: 200px;
    min-height: 50px;
    width: 200px;
    height: 100px;
    margin: auto;
}

.box {
    position: static;
}

#navbar {
    background: color-mix(in oklab, hotpink 70%, white 30%); 
    position: relative; 
    top: 4px;
    left: 4px; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.link {
    padding: 4px;
}

#form-grid {
    display: grid;
    grid-template-columns: 40%  40%;
    row-gap: 10px;
    column-gap: 5px;
}

section:has(img) { 
    border: 3px solid rgb(20, 237, 20); 
}

ul > li {
    font-family: 'Lucida Sans';
}

br + textarea {
    font-family:'Segoe UI';
}

legend ~ label {
    font-family: 'Trebuchet MS';
}

h1.saira-stencil-cool_font {
    font-variant: small-caps;
}

.field-select {
    legend {
        font-weight: 1000;
    }
    :hover{
        background: hsl(214, 88%, 64%);
        border-radius: 10px
    }
}